html    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:$font-primary;
    text-align: center;

}

.menu       {
    font-family: $font-primary;
    background-color: $color-principal;
    display: flex;
    flex-direction: row;
    color: beige ;
            }

ul  {
@include flex-row;
}
    
a    {
@include flex-space-between;
        color: $color-secondary;
        font-size: $text-lg;
        padding: 50px;
        display: inline-block;


        &:hover     {
            transition: width 50%;
            transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
            background: $color-principal;
            background: linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);
            opacity: 60%;
            border-radius: 15px;
        }
}

@media screen and (max-width: 720px){

    header   {
            padding: 2em;
            @include flex-center;
            flex-direction: column;
            .menu   {
                font-size: .8em;
            }
        }
    }