
.tabla  {
    background: linear-gradient(70deg, #845EC2, #B39CD0, #FBEAFF, #00C9A7);
    color: #1f2224;
    border-color: rgb(240, 240, 240);
    margin: 10px;
    padding: 10px;


    .logocontact   {
    background-image: url(/Multimedia/Logofondo.png);
    background-repeat: no-repeat;
    background-position: right top;
    }

    label   {
        @include flex-center;
    }

     .contactname, .contactemail, .contactnumber     {
        width: 25%;
    }

    &::placeholder  {
        @include flex-center;
    }

    textarea{
        color: #1f2224;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        @include flex-center;
        width: 45%;
    }
    
    &not button    {
        @include flex-center;
        color: #1f2224;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 100%;
    }
    
    &button    {
        background-color: azure;
        font-family: sans-serif;
        font-size: 5px;
    }

}

@media screen and (max-width: 720px){
    .tabla  {
        @include flex-center;
        flex-direction: column;


        input    {
           font-size: medium;
           text-align: center;
           width: 200px;
       }
       
       .contactname {
          font-size: medium;
          text-align: center;
          width: 200px;
      }

      textarea    {
    @include flex-center;
     width: 300%;
     font-size: 15px;
    }
 
      .button  {
         display: flex;
         justify-content: center;
         font-size: 20px;
     }

    }
}
