
.weisy{
    font-family: $font-secondary;
    font-size: 70px;
}

.weisy2 {
    font-family: $font-secondary;
    font-size: $text-lg;
    color: #6e7375;
    margin: 0;
    padding: 0;
}

#articulo   {
    font-family: $font-primary;
    font-size: $text-lg;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        width: 100vh;
       white-space: pre-line;
       @include flex-center;
    }
}


.ubication   {
    font-family: $font-primary;
    font-size: $text-lg;
}

@media screen and (max-width: 720px){

    #articulo    {
        @include flex-center;

        p {

            width: 300px;
            font-size: 30px;
            white-space: pre-wrap;
        }
    }
}