$font-primary: "Smooch Sans", sans-serif;
$font-secondary: "Lato", sans-serif;
$color-principal: rgba(112, 159, 206, 0.349);
$color-secondary: rgba(179, 41, 110, 0.726);
$text-lg: 30px;
$text-md: 15px;

// MAP
$tittle: (
    tittle1: red
    tittle2: green
    tittle3: violet

)

// Map get
$estilos (
    color black,
    centro: center,
    tFuente: 35px,
    1rem: 1rem
);